.contaier {
    width: min(100%, 1440px);
    margin: auto;
}

header {
    background-color: #012426;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px;
    margin: auto;
    position: fixed;
    max-width: inherit;
    width: inherit;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: 1;
}

ul {
    display: flex;
    column-gap: 72px;
    list-style-type: none;
    /* font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.44023728370666504px;
    color: #000000; */
}

li{
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.44023728370666504px;
    color: #000000;
}

button{
    
}
